*.iml
.gradle
gradlew
gradle
gradlew.bat
*.swp
#build.gradle
local.properties
.idea
.DS_Store
build
*.jks
captures
.externalNativeBuild
app/*.iml
app/libs
app/proguard-rules.pro
app/release/*
app/release/output.json
